/* Utilizado para declarar variaveis globais que serao uteis no nosso css */
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-texto: 'Inter', sans-serif;
}

body {

    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-texto);


}

* {
    margin: 0;
    padding: 0;
}

/* imagem decorativo coloca pelo css com background image */
.principal {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    border-style: none;
    padding: 16px;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}
.container__button:hover{
    text-decoration:underline;
    font-weight: 700;
    padding: 18px;
}

.button__secundario {
    text-align: center;
    text-decoration: none;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    padding: 16px;
    background-color: transparent;
    color: var(--branco-principal);
    display: block;
    margin-bottom: 1em;
}
.button__secundario:hover{
    text-decoration:underline;
    font-weight: 700;
    padding: 18px;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

/* margin funciona no sentido do "horario"quando vamos definir seus valores entt seria:: 
topo direita baixo e esquerta "margin::5px 0px 5px 0px" ou selecionar um propriedade
especifica de margin para definir somente um lado  */

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 0 0 165px;

}

.container__titulo2 {
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
}

.imagem__plataforma {
    width: 498px;
    height: 560px;
}

.texto__descritivo {
    color: var(--cinza-secundario);
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 16px;
    opacity: 80%;
}


.button__terciario {
    width: 162.68px;
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 16px;
}

/* A regra @keyframes no CSS é utilizada para criar animações.
Ela permite especificar os estágios intermediários de uma animação
usando uma série de pontos-chave, que são chamados de "keyframes".
Cada keyframe define um estado específico da animação em um determinado ponto no tempo. */

@keyframes colorChange {
    0% { color: rgb(255, 255, 255); }
    25% { color: rgb(2, 251, 230); }
    50% { color: green; }
    75% { color: orange; }
    100% { color: rgb(255, 255, 255); }
  }

.texto__descricao {
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 16px;
    color: var(--cinza-secundario);
    margin-bottom: 1em;
    animation: colorChange 15s infinite; 
}

.imagem__telas {
    width: 496px;
    height: 338.96px;
}

/* para algumas section reutilizamos classes ja usadas em sections ateriores*/

.dispositivos {
    text-align: center;
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 5em 0;
}

.dispositivos__titulo {
    font-size: 48px;
}

/* css do footer */
.rodape{
    text-align: center;
    margin: 5em 3em;
}
.rodape__texto{
    padding: 1em;
    color: var(--cinza-secundario);
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 14px;
}
.rodape__logo{
    margin-top: 3em;
   margin-bottom: 1em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1em;
}
.lista__link a{
    font-family: var(--fonte-texto);
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
    color: var(--branco-principal);
}
